<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="WARN">
    <Appenders>
     <Console name="Console" target="SYSTEM_OUT">
         <patternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"></patternLayout>
     </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>